html {
    background: #000000 no-repeat url("../images/fon.jpg") center;
    background-size: cover; 
    min-height: 100%;
    }

body { 
    color: #F3AF42; 
    text-shadow: black 0 0 5px, black 0 0 5px, black 0 0 5px, black 0 0 5px;
    font-weight: bold;
    }
p {
    text-align: center;
    margin: 0 5px;
    font-size: calc(0.5em + 2vw + 2vh);
}

.hidden
{
    visibility: hidden;
    z-index: 0;
}


.test{
    background: no-repeat center; 
    /*url("../deck/рубаха.png")*/
    background-size: cover; 
}
.dillertext {
    top: 15%;
    left: 10%;
    z-index: 50;
    position: absolute;

}
.playertext {
    top: 65%;
    left: 10%;
    z-index: 50;
    position: absolute;

}
.winlose {
    top: 45%;
    left: 40%;
    z-index: 50;
    position: absolute;
    justify-content: space-between;
    display: inline-flex;
}
.hitstay {
    top: 45%;
    left: 10%;
    position: absolute;
    justify-content: space-between;
    display: inline-flex;
}

.NG {
    top: 45%;
    left: 10%;
    position: absolute;
    justify-content: space-between;
    display: inline-flex;
}

button {
    text-decoration: none;
    border: solid 2px;
    background-color: transparent;
    color: #F3AF42; 
    text-shadow: black 0 0 5px, black 0 0 5px, black 0 0 5px, black 0 0 5px;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    font-size: calc(0.5em + 2vw + 2vh);
    transition: color .2s linear;
}
button:hover {
    color: #F3CC8D;
    cursor: pointer;
}
button:active, button:focus {
    outline: none;
  }
.left_grad {
    height: 96%;
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
    overflow-x: hidden;
    padding-top: 20px;
    }
.right_grad {
    height: 96%;
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
    overflow-x: hidden;
    padding-top: 20px;
    }
.top_grad {
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
    overflow-x: hidden;
    padding-top: 20px;
    }
.bottom_grad {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 49;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    overflow-x: hidden;
    padding-top: 20px;
    }
.media_item {
    display: block;
    width: 20px;
    height: 20px;
    margin: 20px;
    z-index: 50;
    }
.media_text {
    font-size: 20px;
    vertical-align: top;
    margin: 0 100px;
    text-decoration: none;
    }

.mem {
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 50;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    }
.media_icon {
    justify-content: space-between;
    display: inline-flex;
    position: absolute;
    bottom: 0;
    z-index: 50;
    align-items: center;
    }