html {
     
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    }
.face {
    margin: 0;
    left: 2%;
    top: 3%;
    width: 22.76%;
    height: 12.22%;
    position: absolute;
    z-index: 50;
}

.chipsIMG {
    left: 53.4%;
    top: 45.9%;
    width: 26.614%;
    height: 38.333%;
    position: absolute;
    z-index: 1;
}


.ttt {
    font-size: 20px;
}
.ttt2 {
    font-size: 20px;
}
.test3 {
    color: #f3af42; 
    background: #000000 no-repeat url("../images/1.jpg") center;
    background-size: contain;
    margin: 0;
    position: fixed;
}

body { 
    color: rgb(243, 175, 66); 
    text-shadow: black 0 0 5px, black 0 0 5px, black 0 0 5px, black 0 0 5px;
    font-weight: bold;
    min-height: 100%;
    min-width: 100%;
    background: #000000;
    margin: 0;
}
p {
    text-align: center;
    margin: 0 5px;
}

.hidden
{
    visibility: hidden;
    z-index: 0;
}


.test{
    background: no-repeat center; 
    /*url("../deck/рубаха.png")*/
    background-size: cover; 
}

.betDIV {
    top: 81.5%;
    left: 4%;
    width: 22%;
    display: inline-flex;
    z-index: 50;
    position: absolute;
}

.chipsDIV {
    top: 86%;
    left: 4%;
    width: 22%;
    display: inline-flex;
    z-index: 50;
    position: absolute;
}

.statDIV {
    top: 91%;
    left: 4%;
    width: 22%;
    z-index: 50;
    position: absolute;
    display: inline-flex;
}

.dillertext {
    top: 63.5%;
    left: 1%;
    display: inline-flex;
    z-index: 50;
    position: absolute;

}
.playertext {
    top: 68%;
    left: 1%;
    display: inline-flex;
    z-index: 50;
    position: absolute;

}
.dillerSTAND {
    z-index: 50;
    position: absolute;
}
.winlose {
    top: 71%;
    left: 4%;
    z-index: 50;
    position: absolute;
    justify-content: space-between;
    display: inline-flex;
}
.hitstay {
    top: 75%;
    right: 2%;
    display: block;
    z-index: 50;
    position: absolute;
}
.hit {
    top: 75%;
    right: 2%;
    display: block;
    z-index: 50;
    position: absolute;
}
.stay {
    top: 91.5%;
    right: 2%;
    display: block;
    z-index: 50;
    position: absolute;
}
.NG {
    top: 75%;
    right: 2%;
    position: absolute;
    z-index: 50;
}

.doubleBut {
    top: 80.5%;
    right: 2%;
    position: absolute;
    z-index: 50;
}

.betPlus {
    top: 80.5%;
    right: 2%;
    position: absolute;
    z-index: 50;
}

.betMinus {
    top: 86%;
    right: 2%;
    position: absolute;
    z-index: 50;
}

.betMAX {
    top: 91.5%;
    right: 2%;
    position: absolute;
    z-index: 50;
}
.stopBut {
    top: 86%;
    right: 2%;
    position: absolute;
    z-index: 50;
}
.showSUM {
    top: 73%;
    left: 1%;
    position: absolute;
    z-index: 50;
}

button {
    text-decoration: none;
    border: solid 0px;
    background-color: transparent;
    color: #F3AF42; 
    text-shadow: black 0 0 5px, black 0 0 5px, black 0 0 5px, black 0 0 5px;
    font-weight: bold;
    text-align: center;
    transition: color .2s linear;
}
button:hover {
    color: #F3CC8D;
    cursor: pointer;
}
button:active, button:focus {
    outline: none;
  }
.left_grad {
    height: 97.5%;
    width: 14%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
    overflow-x: hidden;
    padding-top: 20px;
    }
.right_grad {
    height: 97.5%;
    width: 14%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
    overflow-x: hidden;
    padding-top: 20px;
    }
.top_grad {
    height: 14%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
    overflow-x: hidden;
    padding-top: 20px;
    }
.bottom_grad {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    height: 14%;
    width: 100%;
    position: absolute;
    z-index: 49;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    overflow-x: hidden;
    padding-top: 20px;
    }

.media_text {
    top: 1%;
    right: 0;
    z-index: 50;
    position: absolute;
    }
.icon1 {
    top: 1%;
    right: 15%;
    height: 5%;
    width: 3%;
    z-index: 50;
    position: absolute;
}
.icon2 {
    top: 1%;
    right: 20%;
    height: 5%;
    width: 3%;
    z-index: 50;
    position: absolute;
}
.icon3 {
    top: 1%;
    right: 25%;
    height: 5%;
    width: 3%;
    z-index: 50;
    position: absolute;
}